# Ignore Gradle project-specific cache directory
.gradle
.idea
.metadata
compare_tests.py
de_facto_output_files
output_files
readme_compare_tests.txt
target
org.jetbrains.plugins.cucumber.java.run.CucumberJvmSMFormatter
build
